@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to <a href="https://www.gravito.net">Gravito</a> Code Flow sample</h1>
    <p>Please click on <strong>Secret</strong> menu to check the functionality</p>
</div>
